<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jovan.dao.PersonMapper" >
  <resultMap id="BaseResultMap" type="com.jovan.model.Person" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="CREATE_ID" property="CREATE_ID" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="CREATE_DATE" jdbcType="TIMESTAMP" />
    <result column="MODIFY_ID" property="MODIFY_ID" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="MODIFY_DATE" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, sex, mobile, email, CREATE_ID, CREATE_DATE, MODIFY_ID, MODIFY_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from person
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from person
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from person
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jovan.model.Person" useGeneratedKeys="true" keyProperty="id" >
    insert into person (name, age, sex, 
      mobile, email, CREATE_ID, 
      CREATE_DATE, MODIFY_ID, MODIFY_DATE
      )
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{CREATE_ID,jdbcType=VARCHAR}, 
      #{CREATE_DATE,jdbcType=TIMESTAMP}, #{MODIFY_ID,jdbcType=VARCHAR}, #{MODIFY_DATE,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jovan.model.Person" useGeneratedKeys="true" keyProperty="id" >
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="CREATE_ID != null" >
        CREATE_ID,
      </if>
      <if test="CREATE_DATE != null" >
        CREATE_DATE,
      </if>
      <if test="MODIFY_ID != null" >
        MODIFY_ID,
      </if>
      <if test="MODIFY_DATE != null" >
        MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_ID != null" >
        #{CREATE_ID,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_DATE != null" >
        #{CREATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="MODIFY_ID != null" >
        #{MODIFY_ID,jdbcType=VARCHAR},
      </if>
      <if test="MODIFY_DATE != null" >
        #{MODIFY_DATE,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jovan.model.Person" >
    update person
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_ID != null" >
        CREATE_ID = #{CREATE_ID,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_DATE != null" >
        CREATE_DATE = #{CREATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="MODIFY_ID != null" >
        MODIFY_ID = #{MODIFY_ID,jdbcType=VARCHAR},
      </if>
      <if test="MODIFY_DATE != null" >
        MODIFY_DATE = #{MODIFY_DATE,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jovan.model.Person" >
    update person
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      CREATE_ID = #{CREATE_ID,jdbcType=VARCHAR},
      CREATE_DATE = #{CREATE_DATE,jdbcType=TIMESTAMP},
      MODIFY_ID = #{MODIFY_ID,jdbcType=VARCHAR},
      MODIFY_DATE = #{MODIFY_DATE,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>