<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>用户管理后台</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
    <div class="row">-->
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label >姓名</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="名字">
                </div>
                <div class="form-group">
                    <label >年龄</label>
                    <input type="text" class="form-control" name="age" id="age" placeholder="年龄">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="电话">
                </div>
                <button type="submit" class="btn btn-default">确定</button>
                <button type="submit" class="btn btn-default">取消</button>
            </form>
        </div>

<!--
    </div>
</div>
<script>
</script>
</body>
</html>-->
